<div>
  <form #profileForm="ngForm" autocomplete="off">
    <div>
      <mat-form-field appearance="outline">
        <mat-label> Name </mat-label>
        <input
          matInput
          type="text"
          name="name"
          [(ngModel)]="profile.name"
          placeholder="Enter The Name"
          required
        />

        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label> Email </mat-label>
        <input
          matInput
          type="text"
          name="email"
          [(ngModel)]="profile.email"
          placeholder="Enter The Email"
          required
        />

        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label> Mobile</mat-label>
        <input
          matInput
          type="text"
          name="mobile"
          [(ngModel)]="profile.mobile"
          placeholder="Enter The Mobile"
          required
        />

        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <div fxLayoutAlign="space-around center" >
        <button mat-raised-button color="warn" (click)="save(profileForm)">Save</button>

        <button mat-raised-button color="warn" (click)="close()">close</button>
      </div>
    </div>
  </form>
</div>
