<section>
  <!-- <div *ngIf="Employee.length == 0">
    <p>There is no employee added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-employee">
      Add Empoyee
    </button>
  </div> -->

  <div>
    <h3 Align="center">Employees List</h3>

    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employee">
          <td>{{ item.id }}</td>
          <td>{{ item.employee_name }}</td>
          <td>{{ item.employee_salary }}</td>
          <td>{{ item.employee_age }}</td>
          <td>
            <span class="edit" routerLink="/employee-edit/{{ employee.id }}"
              >Edit</span
            >
            <span class="delete" (click)="deleteEmployee(employee.id)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table> -->
    <h1>odfigdlfkg</h1>
    <ng-container *ngFor="let item of employee.data">
      <mat-card>
        <p>{{ item.id }}</p>
        <span>{{ item.employee_name }}</span>
        <p>{{ item.employee_salary }}</p>

        <p>{{ item.employee_age }}</p>
      </mat-card>
    </ng-container>
  </div>
</section>
