<section>
  <header>
    <mat-toolbar>
      <span>Profile</span>
      <span class="filler"></span>

      <button
        class="edit-btn"
        mat-raised-button
        color="primary"
        routerLink="/profile-edit"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <table mat-table [dataSource]="profile" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>Mobile</th>
      <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- mat-dialog -->
  <!-- <div>
  <mat-form-field>
    <mat-label>What's your name?</mat-label>
    <input matInput name="profile.name" [(ngModel)]="profile.name">
  </mat-form-field>

</div> -->

  <button
    mat-fab
    color="warn"
    (click)="openDialog()"
    style=" position: fixed; right: 30px; top: 92% "
  >
    <mat-icon>add</mat-icon>
  </button>
</section>
